/*min-width: 800px*/
.index-nav{
    height: 4rem;
}
.busqueda input {
    min-width: 400px;
    height: 2.5rem;
}
.logo{
    width: 60px;
}
.welcome{
    height: 500px;
}
.welcome-content{
    position: absolute;
    top: 40%;
}
.welcome-content h2{
    font-size: 4rem;
}
.welcome-content p{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.inputbox{
    max-width: 50%;
}
.sign-up-section{
    max-width: 700px;
    margin: 5rem auto;
}
.subtitle-list-films {
    font-size: 2.5rem;
}
.film-box {
    width: 20%;
    background: transparent;
    backdrop-filter: blur(80px);
    border-radius: 1rem;
    max-height: 800px;
    min-height: 400px;
    max-width: 350px;
    min-width: 250px;
}