:root {
    --First-color: #000000;
    --Second-color: #ff8049;
    --Third-color: #ffb17d;
    --Fourth-color: #FFE9C1;
    --Fifth-color: #7BB199;
    --Sixth-color: #059379;
    --Seventh-color: #8f8984;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    width: 5vw;
    position: relative;
    margin: 0.2rem;
    max-width: 3.5rem;
}

nav {
    background-color: var(--First-color);
    min-height: 60px;
}
div a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    color: var(--Sixth-color);
}
.box-nav{
    display: flex;
    justify-content: space-between;
}
.div-nav1{
    display: inline;
}
.item-nav2{
    color: var(--Fourth-color);
    margin: 1rem;
    position: relative;
    bottom: 2vh;
    font-size: 1.5rem;
}

.item-nav3{
    color: var(--Fourth-color);
    margin: 1rem;
    position: relative;
    font-size: 1.2rem;
    top: 3vh;
}
.item-nav4{
    color: var(--First-color);
    background-color: var(--Fourth-color);
    margin: 1rem;
    position: relative;
    font-size: 1.2rem;
    top: 3vh;
    padding: 0.3rem;
    border-radius: 0.3rem;
}
.title-index{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--Sixth-color);
    margin: 3rem;
    font-size: 4.5rem;
}
h3{
    color: var(--First-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
    font-size: 2rem;
}
.bottom-index{
    text-align: center;
    background-color: var(--Second-color);
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 0px 43%;
}
.bottom-index a{
    color: white;
    font-size: 1.1rem;
}
footer{
    background-color: var(--First-color);
    margin-top: 1%;
    height: 20vh;
    width: 100%;
}
.logo-inicio{
    background-color: var(--First-color);
    position: fixed;
    display: flex;
    top: 5%;
    border-radius: 0 1rem 1rem 0;
    align-items: center;
    padding: 0.5rem;
    z-index: 1;
}
.item-nav-generos{
    color: var(--Fourth-color);
    align-items: center;
    padding: 0.5rem;
}
.drama,
.comedia,
.terror,
.thriller,
.musical,
.comedia,
.accion,
.cienciaficcion{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    min-height: 1000px;
    box-shadow: 20px 200px 200px 100px rgba(0, 0, 0, 0.8) inset;
}
.drama{
    background-image: url(../MULTIMEDIA/IMAGENES/imagenorgulloyprejuicio.webp);
}
.drama h1,
.comedia h1,
.terror h1,
.thriller h1,
.accion h1,
.musical h1,
.cienciaficcion h1{
    text-align: center;
    position: relative;
    color: var(--Fourth-color);
    font-size: 4rem;
    padding-top: 4%;
    padding-bottom: 2%;
}
.descripcion-genero{
    position: relative;
    color: white;
    background-color: #ffe9c123;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto 10vw;
    font-size: 1.1rem;
}
.subtitle-list-films{
    text-align: center;
    color: white;
    font-size: 2rem;
}

.list-films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
}
.film-box{
    width: 25%;
   background: transparent;
   backdrop-filter: blur(70px);
    border-radius: 1rem;
    max-height: 800px;
    min-height: 400px;
    min-width: 210px;
    max-width: 280px;
    padding: 1rem;
    margin: 1%;
}
.film-box:hover{
    box-shadow: 0 0 15px 5px var(--Sixth-color);
}
picture img{
    width: 100%;
    border-radius: 0.5rem;
    max-width: 250px;
}
.film-title{
    color: white;
    border-bottom: var(--Second-color) solid 2px;
    padding: 0.5rem;
    min-height: 2rem;
}
.film-sinopsis{
    color: white;
    max-height: 200px;
    overflow: hidden;
}
.film-platforms{
    padding-top: 1rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}
.platforms{
    margin-top: 1rem;
    color: white;
    font-size: 0.9rem;
    position: relative;
}
.platform img{
    width: 100%;
    border-radius: 30px;
    position: relative;
    max-width: 50px;
    max-height: 50px;
}
.titulo-generos{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.generos{
    background-image: url(../MULTIMEDIA/IMAGENES/denise-jans-Lq6rcifGjOU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    box-shadow: 20px 200px 200px 100px rgba(0, 0, 0, 0.8) inset;
}
.list-generos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genero{
    font-size: 2.5rem;
    background-color: #79402894;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    color: white;
    text-align: center;
}
.genero a{
    color: white;
    text-decoration: none;
}
.genero a:hover{
    color: var(--Sixth-color);
}

.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/Fondo-log-sign.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.log-in-section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
}
.inputbox input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}
.forget{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
form h1{
    font-size: 2rem;
    color: var(--Second-color);
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid var(--Second-color);
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.forget label{
    display: flex;
    align-items: center;
}
.forget label input{
    margin-right: 3px;
}
.forget a,
.recordar-contraseña a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.forget a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
button:hover{
    background-color: rgb(255, 255, 255, 0.5);
}
.register,
.Log{
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 10px 0 10px;
}
.register p a,
.Log p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover,
.Log p a:hover{
    text-decoration: underline;
}
.sign-up-section{
    position: relative;
    max-width: 650px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 3rem;
}
.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/Fondo-log-sign.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sign-up-section form .inputbox{
    position: relative;
    margin: 1rem ;
    max-width: 310px;
    border-bottom: 2px solid var(--Second-color);
}
.form-container1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.recordar-contraseña,
.forget{
    color: #fff;
    margin-bottom: 1rem;
    accent-color: var(--Second-color);
    cursor: pointer;
}
.recordar-contraseña input:focus,
.forget input:focus{
    outline: none;
    box-shadow: 0 0 5px 0.5px #ff634798;
}
.recordar-contraseña input,
.forget input{
    margin-right: 1rem;
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
}
.recordar-contraseña input:checked,
.forget input:checked{
    background-image: url('../MULTIMEDIA/IMAGENES/LOGO/Icono.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.form-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.form-bottom button{
    max-width: 50%;
}

.comedia{
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/ComediaBack.jfif);
}
.thriller{
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/thrillerBack.jpg);
}
.terror{
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/terrorBack.jpg);
}
.accion{
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/accionBack.jpg);
}
.cienciaficcion{
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/ciencia\ ficcionBack.jpg);
}
.musical{
    background-image: url(../MULTIMEDIA/IMAGENES/Backgrounds/musicalBack.jpg);
}
@media (max-width: 600px) {
    .sign-up-section{
        max-width: 400px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}